<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <meta charset="utf-8"/>
  <title>广州再生资源行业协会</title>
  <link rel="stylesheet" href="./css/reset_css.css" />
  <link rel="stylesheet" href="./css/font-awesome.min.css" />
  <link rel="stylesheet" href="./css/frame.css" />
  <link rel="stylesheet" href="./css/postList.css" />
  
  <!--[if lt IE 9]>
  <link rel="stylesheet" href="./css/font-awesome-ie7.min.css" />
  <script src="./js/html5shiv.js"></script>
  <![endif]-->
</head>
<body>
   <header>
    <div id="topImg">
      <img src="./img/index_02.gif" alt="首页顶图" usemap="#topMap"/>
      <map name="topMap">
        <area shape="rect" coords="724,0,854,28" href="javascript:void(0);" alt="" /> 
        <area shape="rect" coords="854,0,955,28" href="javascript:void(0);" alt="" /> 
      </map>
      <div id="searchDiv">
        <input type="text" id="searchContent"/><a href="javascript:void(0);" class="fa fa-search"></a>
      </div>
    </div>
    
    <nav>
      <ul id="topNavUl">
        <li><a href="javascript:void(0);">首页</a>
        </li><li><a href="javascript:void(0);">协会信息</a>
        </li><li><a href="javascript:void(0);">政策法规</a>
        </li><li><a href="javascript:void(0);">行业资讯</a>
        </li><li><a href="javascript:void(0);">商圈</a>
        </li><li><a href="javascript:void(0);">最新通知</a>
        </li><li><a href="javascript:void(0);">价格行情</a>
        </li><li><a href="javascript:void(0);">会员服务</a>
        </li><li><a href="javascript:void(0);">协会期刊</a>
        </li><li><a href="javascript:void(0);">联系我们</a>
        </li>
      </ul> 
    </nav>
   </header>
   <aside id="postClassify" class="width15">
    <header>协会介绍</header>
    <ul>
      <li><a href="">协会动态</a>
      </li><li><a href="">协会地图</a>
      </li><li><a href="">承接项目</a>
      </li><li><a href="">联系我们</a>
      </li><li><a href="">版权声明</a>
      </li>
    </ul>
   </aside>
  <article id="postContent" class="width70">
    <header>
      <h1>协会动态</h1>
    </header>
    <article id="contentText">
      <header>
        <h1>致会员企业的新年问候</h1>
        <span id="user" date-id="111">小明</span>发布于<time datetime="2011-10-10" pubdate>2011-10-10</time>点击次数:<span id="clickCount">16</:span>
      </header>
      <p id="content">
         
各会员单位：<br>
您们好！<br>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp广州再生资源行业协会（以下简称协会）在市委市政府相关部门的指导下，在广大会员企业的大力支持下，充分发挥了桥梁和纽带作用，与企业携手并肩，对开创再生资源行业的新局面做出了应有的贡献。
2010年，金融危机的影响逐步消退，国家对再生资源行业的支持力度进一步加大。在此背景下，协会工作重点在抓服务、促发展上下功夫，在日常工作中不断完善内部管理机制，定期对秘书处工作人员进行培训，以便真正做到沟通渠道畅通、反映问题及时、解决问题到位。<br>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp同时，协会加强了与政府相关部门的沟通和联系，在积极为行业争取税收政策、财政扶持基金、行业内培训等方面开展了多项活动。经协会推荐，五家会员企业纳入了国家第二批再生资源回收体系建设试点城市广州的承办单位；在服务行业方面，分别在我市各区举办了多期从业人员培训，从整体上提升了行业素质；另外，结合迎接亚运会，举办了大型的“迎亚运守规范文明回收”倡议活动，号召全行业为亚运会添光彩。<br>
在为企业发展创造便利条件的同时，协会整体工作也上了一个台阶。2010年，秘书处还着重加强了各项制度的建立，完善与企业的沟通机制，通过网站、信息平台、会刊、会议纪要等多样化的手段服务会员。未来协会与会员的联系将更加紧密高效，协会的服务形式也将更加多样化。<br>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp目前协会秘书处工作人员较少，在为会员服务的过程中工作无法做到细致全面，需要得到您们的支持和理解。2011年，协会将扩大秘书处队伍，逐步完善协会项目部、信息部、会员部等工作，以会员资格证为依托，着力打造“广州再生资源行业协会”的品牌。同时，在提高会员服务质量、增加行业信息量、解读政策法规上下功夫，改善以往工作中存在的不足，努力提升协会的行业影响力。
感谢所有会员单位在过去一年对协会工作的支持和理解，协会始终把会员企业的利益放在第一位。协会与企业唇齿相依，息息相关。在新的一年里，我们将以百倍的努力为企业提供更好的服务。相信有您们的理解和支持，我们的行业将会不断的发展和壮大，协会也将不断成熟和发展，会员企业也将得到更多的实惠。<br>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp农历春节即将到来，祝全体会员在新的一年万事如意、生意兴隆、更上一层楼！<br>


      </p>
    </article>
   </article> 
   <footer>
    <ul id="bottomLinkUl">
      <li><a href="javascript:void(0);">联系我们</a>
      </li><li><a href="javascript:void(0);">版权声明</a>
      </li><li><a href="javascript:void(0);">广告服务</a>
      </li><li><a href="javascript:void(0);">专业培训</a>
      </li><li><a href="javascript:void(0);">人才招聘</a>
      </li>
    </ul>
    <ul id="copyrightUl">
      <li>备案号：XXXXXXXXXX
      </li><li>版权所有：广州再生资源行业协会
      </li>
    </ul>
   </footer>
   <script type="text/javascript" src="./js/jquery.js"></script>
   <script type="text/javascript" src="./js/ImageScroll.js"></script>
</body>
</html>