<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <meta charset="utf-8"/>
  <title>广州再生资源行业协会</title>
  <link rel="stylesheet" href="./css/reset_css.css" />
  <link rel="stylesheet" href="./css/font-awesome.min.css" />
  <link rel="stylesheet" href="./css/frame.css" />
  <link rel="stylesheet" href="./css/postList.css" />

  <!--[if lt IE 9]>
  <link rel="stylesheet" href="./css/font-awesome-ie7.min.css" />
  <script src="./js/html5shiv.js"></script>
  <![endif]-->
</head>
<body>
   <header>
    <div id="topImg">
      <img src="./img/index_02.gif" alt="首页顶图" usemap="#topMap"/>
      <map name="topMap">
        <area shape="rect" coords="724,0,854,28" href="javascript:void(0);" alt="" />
        <area shape="rect" coords="854,0,955,28" href="javascript:void(0);" alt="" />
      </map>
      <div id="searchDiv">
        <input type="text" id="searchContent"/><a href="javascript:void(0);" class="fa fa-search"></a>
      </div>
    </div>

    <nav>
      <ul id="topNavUl">
        <li><a href="/">首页</a>
        </li><li><a href="javascript:void(0);">协会信息</a>
        </li><li><a href="javascript:void(0);">政策法规</a>
        </li><li><a href="javascript:void(0);">行业资讯</a>
        </li><li><a href="javascript:void(0);">商圈</a>
        </li><li><a href="javascript:void(0);">最新通知</a>
        </li><li><a href="javascript:void(0);">价格行情</a>
        </li><li><a href="javascript:void(0);">会员服务</a>
        </li><li><a href="javascript:void(0);">协会期刊</a>
        </li><li><a href="javascript:void(0);">联系我们</a>
        </li>
      </ul>
    </nav>
   </header>
   <aside id="postClassify" class="width15">
    <header>协会介绍</header>
    <ul>
      <li><a href="">协会动态</a>
      </li><li><a href="">协会地图</a>
      </li><li><a href="">承接项目</a>
      </li><li><a href="">联系我们</a>
      </li><li><a href="">版权声明</a>
      </li>
    </ul>
   </aside>
   <article id="classifyList" class="width60">
    <header>
      <h1>协会动态</h1>
    </header>
     <ul>
      <li><span><a href="#">致会员企业的新年问候111111111111111111111111111111111111111111111111111111111111111</a></span><time datetime="2011-10-10">2011-10-10</time></li>
      <li><span><a href="#">致会员企业的新年问候</a></span><time datetime="2011-10-10">2011-10-10</time></li>
      <li><span><a href="#">致会员企业的新年问候</a></span><time datetime="2011-10-10">2011-10-10</time></li>
      <li><span><a href="#">致会员企业的新年问候</a></span><time datetime="2011-10-10">2011-10-10</time></li>
      <li><span><a href="#">致会员企业的新年问候</a></span><time datetime="2011-10-10">2011-10-10</time></li>
      <li><span><a href="#">致会员企业的新年问候</a></span><time datetime="2011-10-10">2011-10-10</time></li>
      <li><span><a href="#">致会员企业的新年问候</a></span><time datetime="2011-10-10">2011-10-10</time></li>
      <li><span><a href="#">致会员企业的新年问候</a></span><time datetime="2011-10-10">2011-10-10</time></li>
      <li><span><a href="#">致会员企业的新年问候</a></span><time datetime="2011-10-10">2011-10-10</time></li>
      <li><span><a href="#">致会员企业的新年问候</a></span><time datetime="2011-10-10">2011-10-10</time></li>
      <li><span><a href="#">致会员企业的新年问候</a></span><time datetime="2011-10-10">2011-10-10</time></li>
      <li><span><a href="#">致会员企业的新年问候</a></span><time datetime="2011-10-10">2011-10-10</time></li>
      <li><span><a href="#">致会员企业的新年问候</a></span><time datetime="2011-10-10">2011-10-10</time></li>
      <li><span><a href="#">致会员企业的新年问候</a></span><time datetime="2011-10-10">2011-10-10</time></li>
      <li><span><a href="#">致会员企业的新年问候</a></span><time datetime="2011-10-10">2011-10-10</time></li>
      <li><span><a href="#">致会员企业的新年问候</a></span><time datetime="2011-10-10">2011-10-10</time></li>
      <li><span><a href="#">致会员企业的新年问候</a></span><time datetime="2011-10-10">2011-10-10</time></li>
      <li><span><a href="#">致会员企业的新年问候</a></span><time datetime="2011-10-10">2011-10-10</time></li>
      <li><span><a href="#">致会员企业的新年问候</a></span><time datetime="2011-10-10">2011-10-10</time></li>
      <li><span><a href="#">致会员企业的新年问候</a></span><time datetime="2011-10-10">2011-10-10</time></li>
     </ul>
     <div id="pageNav">
      <a href="" class="headPage"><i class="fa fa-angle-double-left"></i></a>
      <a href="" class="current">1</a>
      <a href="" class="navLi">2</a>
      <a href="" class="navLi">3</a>
      <a href="" class="navLi">4</a>
      <a href="" class="navLi">5</a>
      <a href="" class="navLi">6</a>
      <a href="" class="navLi">7</a>
      <a href="" class="navLi">8</a>
     </div>
   </article>
   <footer>
    <ul id="bottomLinkUl">
      <li><a href="javascript:void(0);">联系我们</a>
      </li><li><a href="javascript:void(0);">版权声明</a>
      </li><li><a href="javascript:void(0);">广告服务</a>
      </li><li><a href="javascript:void(0);">专业培训</a>
      </li><li><a href="javascript:void(0);">人才招聘</a>
      </li>
    </ul>
    <ul id="copyrightUl">
      <li>备案号：XXXXXXXXXX
      </li><li>版权所有：广州再生资源行业协会
      </li>
    </ul>
   </footer>
   <script type="text/javascript" src="./js/jquery.js"></script>
   <script type="text/javascript" src="./js/ImageScroll.js"></script>
   <script type="text/javascript">
    $('#classifyList ul>li:nth-of-type(5n)').css({
      "border-bottom":"1px dotted #333",
      "margin-bottom":"10px",
      "padding-bottom":"10px"
     });
     $('#pageNav a').click(function(e){
      e.preventDefault();
      $(this).parent("div").children(".current").removeClass("current").addClass("navLi");
      var number = $.isNumeric($(this).text())?$(this).text():1;
      if(number>5){
        $(this).siblings(".headPage").show();
        var initalNumber = number - 5;
        $(this).parent("div").children(".navLi").each(function(){
          if(initalNumber==number){
            $(this).removeClass("navLi").addClass("current");
          }
          $(this).text(initalNumber++);
        });
      }else{
        $(this).siblings(".headPage").hide();
        var initalNumber = 1;
        $(this).parent("div").children(".navLi").each(function(){
          if(initalNumber==number){
            $(this).removeClass("navLi").addClass("current");
          }
          $(this).text(initalNumber++);
        });
      }
     });

   </script>
</body>
</html>
