<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <meta charset="utf-8"/>
  <title>广州再生资源行业协会</title>
  <link rel="stylesheet" href="./css/reset_css.css" />
  <link rel="stylesheet" href="./css/font-awesome.min.css" />
  <link rel="stylesheet" href="./css/frame.css" />
  <link rel="stylesheet" href="./css/postList.css" />
  
  <!--[if lt IE 9]>
  <link rel="stylesheet" href="./css/font-awesome-ie7.min.css" />
  <script src="./js/html5shiv.js"></script>
  <![endif]-->
</head>
<body>
   <header>
    <div id="topImg">
      <img src="./img/index_02.gif" alt="首页顶图" usemap="#topMap"/>
      <map name="topMap">
        <area shape="rect" coords="724,0,854,28" href="javascript:void(0);" alt="" /> 
        <area shape="rect" coords="854,0,955,28" href="javascript:void(0);" alt="" /> 
      </map>
      <div id="searchDiv">
        <input type="text" id="searchContent"/><a href="javascript:void(0);" class="fa fa-search"></a>
      </div>
    </div>
    
    <nav>
      <ul id="topNavUl">
        <li><a href="/">首页</a>
        </li><li><a href="javascript:void(0);">协会信息</a>
        </li><li><a href="javascript:void(0);">政策法规</a>
        </li><li><a href="javascript:void(0);">行业资讯</a>
        </li><li><a href="javascript:void(0);">商圈</a>
        </li><li><a href="javascript:void(0);">最新通知</a>
        </li><li><a href="javascript:void(0);">价格行情</a>
        </li><li><a href="javascript:void(0);">会员服务</a>
        </li><li><a href="javascript:void(0);">协会期刊</a>
        </li><li><a href="javascript:void(0);">联系我们</a>
        </li>
      </ul> 
    </nav>
   </header>
   <aside id="postClassify" class="width15">
    <header>协会介绍</header>
    <ul>
      <li><a href="">协会动态</a>
      </li><li><a href="">协会地图</a>
      </li><li><a href="">承接项目</a>
      </li><li><a href="">联系我们</a>
      </li><li><a href="">版权声明</a>
      </li>
    </ul>
   </aside>
   <article id="VIPReg" class="width70">
    <header>
      <h1>
        <ul>
          <li>会员注册</li>
          <li>企业注册</li>
        </ul>
      </h1>
    </header>
     <form action="" id="personalReg">
      <ul>
       <li><span class="forceFill">登陆账号：</span><input  type="text" name="userName"/><i></i></li>
       <li><span class="forceFill">用户密码：</span><input  type="password" name="password"/><i></i></li>
       <li><span class="forceFill">申请人姓名：</span><input  type="text"name="principal" /><i></i></li>
       <li><span class="forceFill">联系电话：</span><input  type="text" name="phone"/><i></i></li>
       <li><span class="forceFill">EMAIL：</span><input  type="text" name="email"/><i></i></li>
       <li><span class="forceFill">学历：</span><input  type="text" name="edu"/><i></i></li>
       <li><span class="forceFill">户籍：</span><input  type="text" name="nation"/><i></i></li>
       <li><span class="forceFill">出生年：</span><input  type="text" name="bornYear"/><i></i></li>
       <li><span >身份证号：</span><input type="text" name="IDNumber"/><i></i></li>
       <li><span>联系地址：</span><input type="text" name="address"/><i></i></li>
       <li><span>邮政编码：</span><input type="text" name="postCode"/><i></i></li>
       <li><span>传真：</span><input type="text" name="fax"/><i></i></li>
       <li><!-- <button type="reset"/>重置</button> --><div>立即注册</div></li>
      </ul>
     </form>
     <form action="" id="entReg">
      <ul>
       <li><span class="forceFill">登陆账号：</span><input type="text" name="userName"/><i></i></li>
       <li><span class="forceFill">用户密码：</span><input type="password" name="password"/><i></i></li>
       <li><span class="forceFill">公司名称：</span><input type="text"name="name" /><i></i></li>
       <li><span class="forceFill">联系电话：</span><input type="text" name="phone"/><i></i></li>
       <li><span class="forceFill">传真：</span><input type="text" name="fax"/><i></i></li>
       <li><span class="forceFill">地址：</span><input type="text" name="address"/><i></i></li>
       <li><span class="forceFill">邮政编码：</span><input type="text" name="postCode"/><i></i></li>
       <li><span class="forceFill">营业执照号：</span><input type="text" name="BLNumber"/><i></i></li>
       <li><span class="forceFill">EMAIL：</span><input type="text" name="email"/><i></i></li>
       <li><span class="forceFill">联系人：</span><input type="text" name="principal"/><i></i></li>
       <li><span>注册资金：</span><input type="text" name="capital"/><i></i></li>
       <li><span>公司性质：</span><input type="text" name="compAttr"/><i></i></li>
       <li><span>成立日期：</span><input type="text" name="foundTime"/><i></i></li>
       <li><span>公司简介：</span><input type="text" name="compIntr"/><i></i></li>
       <li><span>经营范围：</span><input type="text" name="scope"/><i></i></li>
       <li><!-- <button type="reset"/>重置</button> --><div>立即注册</div></li>
      </ul>
     </form>
   </article> 
   <footer>
    <ul id="bottomLinkUl">
      <li><a href="javascript:void(0);">联系我们</a>
      </li><li><a href="javascript:void(0);">版权声明</a>
      </li><li><a href="javascript:void(0);">广告服务</a>
      </li><li><a href="javascript:void(0);">专业培训</a>
      </li><li><a href="javascript:void(0);">人才招聘</a>
      </li>
    </ul>
    <ul id="copyrightUl">
      <li>备案号：XXXXXXXXXX
      </li><li>版权所有：广州再生资源行业协会
      </li>
    </ul>
   </footer>
   <script type="text/javascript" src="./js/jquery.js"></script>
   <script type="text/javascript" src="./js/underscore.js"></script>
   <script type="text/javascript" src="./js/regValidate.js"></script>
</body>
</html>